.bag {
  margin-bottom: 78px;
}

.bag__head {
  margin-bottom: 29px;

  h2 {
    padding: 0;
    margin: 0;
    padding-top: 23px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  p {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }

  svg {
    display: inline-block;
    margin-right: 13px;
    margin-left: 14px;
    margin-bottom: 2px;
  }
}

.bag__list {
  border-top: 0.7px solid #DDDADA;
  margin-bottom: 37px;
}

.bag__footer {
  display: flex;
  justify-content: space-between;
}

.bag__null-title {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 9px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 0.7px solid #DDDADA;
}

.bag__promo-title {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 9px;
}

.bag__promo-info {
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  margin-bottom: 16px;
}

.bag__promo-input {
  width: 39%;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #000000;
  padding: 7px 7px;
  text-align: center;
  margin-right: 33px;
}

.bag__promo-button {
  border: none;
  background: #C1C1C1;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding: 11px 22px;
}

.bag__sum {
  margin: 0;
  padding: 0;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 0.05em;
  padding-right: 8px;
  color: #000000;
  margin-bottom: 44px;
}

.bag__button {
  border: none;
  background: #E27F00;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding: 10px 39px;
}