.popup-info {
  position: fixed;
  display: flex;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: rgba(88, 87, 87, 0.6);
}

.popup-info__wrapper {
  position: relative;
  padding: 30px 50px;
  padding-bottom: 54px;
  z-index: 100;
  width: 73%;
  max-width: 740px;
  background: #FFFFFF;
  box-shadow: 0px 5px 6px rgba(63, 63, 63, 0.2);
  border-radius: 4px;
  height: 100%;
  max-height: 185px;
  overflow-y: auto;
}

.popup-info__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: #474747;
  word-break: break-all;
}

.popup-info__close {
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 20px;
  border: none;
  background-color: inherit;

  svg {
    width: 12px;
    height: 12px;
  }
}

.popup-info__buttons {
  display: flex;
  justify-content: space-between;
  padding-left: 83px;
  padding-right: 83px;
}

.popup-info__button {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.05em;
  border-radius: 2px;
  padding: 14px 11px;
  width: calc(50% - 19px);
  text-align: center;

  &--orange {
    padding: 15px 22px;
    border: none;
    color: #FFFFFF;
    background: #E27F00;
  }

  &--white {
    color: #585757;
    background: #FFFFFF;
    border: 1px solid #585757;
  }
}