.catalog {
  margin-bottom: 50px;

  @media (max-width: 768px) {}

  @media (max-width: 320px) {}
}

.catalog__head {
  margin-bottom: 49px;

  @media (max-width: 768px) {}

  @media (max-width: 320px) {}

  h2 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    word-break: break-all;

    @media (max-width: 768px) {}

    @media (max-width: 320px) {      
      font-size: 16px;
      line-height: 19px;
    }
  }

  p {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    @media (max-width: 768px) {}

    @media (max-width: 320px) {
      display: none;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  svg {
    display: inline-block;
    margin-right: 12px;
    margin-left: 14px;
    margin-bottom: 2px;

    @media (max-width: 768px) {}

    @media (max-width: 320px) {}
  }
}

.catalog__body {
  display: flex;
}