.container {
  width: 100%;
  max-width: 1020px;
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

body {
  font-family: "Droid Sans", "Arial", sans-serif;
  margin: 0;
  background: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}