.guitar-catalog {
  width: calc(33% - 12px);
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 30px;
  border: 1px solid #DDDADA;
  padding: 12px 11px 20px;
  text-align: center;

  &:nth-child(3n+3) {
    margin-right: 0;
  }
}

.guitar__image {
  margin-bottom: 2px;
}

.guitar__rating {
  display: flex;
  padding-right: 30px;
  margin-bottom: 3px;

  >span {
    display: block;
    min-width: 1px;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.1em;
    color: #9F9E9E;
    padding-top: 2px;
  }
}

.guitar-catalog__stars {
  position: relative;
  display: inline-block;
  margin-right: 3px;
  width: 68px;
  height: 12px;

  &::before {
    content: "";
    display: inline-block;
    height: 100%;
    background: url("../../img/stars.svg") transparent no-repeat center;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    overflow: hidden;

    &::before {
      content: "";
      display: inline-block;
      height: 100%;
      background: url("../../img/stars-active.svg") transparent no-repeat center;
    }
  }
}

.guitar-catalog__stars-active {
  width: 68px;
  height: 12px;
  display: inline-block;

  &::before {
    background-size: 68px 12px;
    width: 68px;
  }

  span::before {
    background-size: 68px 12px;
    width: 68px;
  }
}

.guitar-catalog__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 11px;

  span {
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #000000;
    word-break: break-all;
    margin-bottom: 5px;

    &:last-of-type {
      margin-left: auto;
    }
  }
}

.guitar-catalog__buttons {
  display: flex;
  justify-content: space-between;
}

.guitar-catalog__button {
  width: 46%;
  border: none;
  text-align: center;
  border-radius: 2px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 4px 9px;

  svg {
    margin-right: 8px;
    display: inline-block;
  }

  &--left {
    background: #C1C1C1;
  }

  &--right {
    background: #E27F00;
  }

}