.filter {
  width: 23%;
  color: #000000;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.filter__head {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 27px;
}

.filter__section {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #DDDADA;
}

.filter__title {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.filter__input-text {
  display: flex;
  width: 100%;

  span {
    display: inline-block;
    margin-left: 13px;
    margin-right: 13px;
    align-self: center;
  }
}

.filter__input {
  padding: 5px 5px;
  width: calc(50% - 20px);
  text-align: center;
  border: 0.7px solid #9F9E9E;
  border-radius: 2px;
  font-weight: normal;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.6);

  &:focus,
  &:hover {
    border: 0.7px solid #585757;
  }

  &:active {
    border: 0.7px solid #C1C1C1;
  }
}

.filter__checkbox {
  position: relative;
  display: block;
  font-weight: normal;
  padding-top: 2px;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 15px;
  padding-left: 40px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    border: 0.7px solid #9F9E9E;
    border-radius: 2px;
    background-color: #FFFFFF;
  }
}


.filter__input-checkbox {
  &+.filter__checkbox::before {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    content: "";
    width: 24px;
    height: 24px;
    border: 0.7px solid #9F9E9E;
    background-color: #FFFFFF;
    border-radius: 2px;
    z-index: 1;
  }

  &:checked+.filter__checkbox::after {
    cursor: pointer;
    position: absolute;
    left: 6px;
    top: 7px;
    content: "";
    width: 12px;
    height: 10px;
    z-index: 100;
    background-image: url("../../img/tick.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:focus+.filter__checkbox::before,
  &:hover+.filter__checkbox::before {
    border: 0.7px solid #585757;
  }

  &:active+.filter__checkbox::before {
    border: 0.7px solid #C1C1C1;
  }


  &:disabled+.filter__checkbox {
    color: #DDDDDD;

    &::before {
      background: #F7F3F3;
      border: 0.7px solid #DDDDDD;
    }
  }


}

.filter__button {
  display: none;
  cursor: pointer;
  border: none;
  background: #C1C1C1;
  border-radius: 2px;
  padding: 8px 27px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}