.navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: -2px;
}

.navigation__button {
  padding: 1px 6.5px;
  border: 0.7px solid #9F9E9E;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;
  background-color: #FFFFFF;
  margin-left: 10px;

  &:last-of-type {
    width: 80px;
    margin-left: 14px;
  }

  &--unactive {
    cursor: default;
  }

  &--active {
    cursor: default;
    background: #585757;
    border: none;
    color: #FFFFFF;
  }

}