.header {
	margin-bottom: -31px;

	@media (max-width: 768px) {}

	@media (max-width: 320px) {}
}

.header__filling {
	background: rgba(30, 9, 6, 0.15);

}

.header__logo {
	align-self: start;

	@media (max-width: 768px) {}

	@media (max-width: 320px) {}

	svg {
		color: #000000;

		@media (max-width: 768px) {}

		@media (max-width: 320px) {
			height: 37px;
			width: 40px;
		}
	}

	&:hover,
	&:focus {
		svg {
			color: #474747;
		}
	}

	&:active {
		svg {
			color: rgba(71, 71, 71, 0.5);
		}
	}
}

.header__container {
	display: flex;
	padding-top: 20px;
	padding-bottom: 15px;

	@media (max-width: 768px) {}

	@media (max-width: 320px) {}
}

.header__nav-list,
.header__info-list {
	margin: 0;
	padding: 0;
	margin-top: 25px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	font-weight: normal;

	@media (max-width: 768px) {}

	@media (max-width: 320px) {}
}


.header__info-list {
	margin-top: 23px;

	@media (max-width: 768px) {}

	@media (max-width: 320px) {}
}

.header__nav {
	margin-left: 10%;
	width: 67%;
	flex-shrink: 0;

	@media (max-width: 768px) {}

	@media (max-width: 320px) {}
}

.header__info {
	margin-left: auto;
	align-self: start;
	width: 16%;
	flex-shrink: 0;

	@media (max-width: 768px) {}

	@media (max-width: 320px) {}
}

.header__info-quantity {
	position: absolute;
	display: inline-block;
	padding-left: 3px;
	vertical-align: top;
	top: 1px;
	right: -9px;
	margin-top: -2px;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	color: #F20505;

	@media (max-width: 768px) {}

	@media (max-width: 320px) {}
}

.header__nav-link,
.header__info-link {
	text-decoration: none;
}

.header__nav-link {
	margin: 21px;
	color: #000000;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.05em;
	color: #000000;

	@media (max-width: 768px) {}

	@media (max-width: 320px) {
		font-size: 12px;
		line-height: 20px;

		letter-spacing: 0.05em;

		color: #FFFFFF;
	}

	&:hover,
	&:focus {
		color: #474747;
	}

	&:active {
		color: rgba(71, 71, 71, 0.5);
	}
}

.header__nav-item {
	margin-bottom: 5px;

	@media (max-width: 768px) {}

	@media (max-width: 320px) {}
}

.header__info-item {
	margin: 5px 17px;
	position: relative;

	@media (max-width: 768px) {}

	@media (max-width: 320px) {}

	&:last-of-type {
		margin-right: 19px;

		@media (max-width: 768px) {}

		@media (max-width: 320px) {}
	}

}

.header__info-link {

	svg {
		color: #000000;

		@media (max-width: 320px) {
			width: 10px;
			height: 10px;
		}

	}

	&:hover,
	&:focus {
		svg {
			color: #474747;
		}
	}

	&:active {
		svg {
			color: rgba(71, 71, 71, 0.5);
		}
	}
}

.header__background {
	background: linear-gradient(to bottom, transparent 0, transparent 11%, #FFFFFF 12%, #FFFFFF 100%);
	background-image: url('../../img/line_header.png');
	background-position-y: 60px;
	background-repeat: repeat-x;
	margin-top: -36px;
	height: 282px;
	display: flex;
	justify-content: flex-end;

	@media (max-width: 768px) {
		background-image: url('../../img/line_header-tablet.png');
	}

	@media (max-width: 320px) {
		background-image: url('../../img/line_header-mobile.png');
	}

	img {
		height: 299px;
		width: 826px;

		@media (max-width: 768px) {
			height: 213px;
			width: 664px;
		}

		@media (max-width: 320px) {
			height: 107px;
			width: 332px;
		}
	}
}