.footer__background {
	z-index: -1;
	position: relative;
	background: linear-gradient(to bottom, #FFFFFF 0, #FFFFFF 11%, transparent 12%, transparent 100%);
	margin-bottom: -193px;
	height: 282px;
	display: flex;
	justify-content: flex-start;

	&::before {
		position: absolute;
		z-index: 1;
		content: "";
		height: 6px;
		left: 0;
		right: 0;
		top: 73px;
		background-color: #3F3F3F;
	}

	img {
		height: 299px;
		width: 826px;
		transform: rotate(180deg);
	}
}

.footer__filling {
	background-color: #3F3F3F;
	color: #FFFFFF;
	padding-top: 61px;
	padding-bottom: 62px;
}

.footer__container {
	display: flex;
}

.footer__left {
	width: 15%;
	flex-shrink: 0;
	margin-right: 10.5%;
}

.footer__logo {
	margin-bottom: 51px;
	display: block;

	svg {
		color: #FFFFFF;
	}

	&:hover,
	&:focus {

		svg {
			opacity: 0.7;
		}
	}

	&:active {
		svg {
			opacity: 0.5;
		}
	}
}

.footer__right {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-top: 7px;


	.footer__item {
		display: inline-block;
		padding: 0;
		width: 100%;
		vertical-align: text-top;
	}

	li {
		width: 20%;
		margin-right: 3%;

		&:last-of-type {
			margin-left: auto;
			margin-right: 0;
		}
	}

}

.footer__social-list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	padding: 0;
	margin-left: -24px;
}

.footer__social-item {
	margin-left: 24px;
	margin-bottom: 24px;

}

.footer__social-link {


	&:hover,
	&:focus {
		opacity: 0.7;
	}

	&:active {
		opacity: 0.5;
	}
}

.footer__links {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer__title {
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 44px;
	letter-spacing: 0.1em;

}

.footer__info {
	margin: 0;
	padding: 0;
	padding-bottom: 13px;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.02em;

	svg {
		margin-right: 2px;
	}

	span {
		display: block;
	}
}


.footer__item {

	a {
		display: block;
		margin: 0;
		padding: 0;
		text-decoration: none;
		color: #FFFFFF;
		font-size: 10px;
		line-height: 12px;
		margin-bottom: 8px;
		letter-spacing: 0.1em;

		&:hover,
		&:focus {
			opacity: 0.7;
		}

		&:active {
			opacity: 0.5;
		}

	}
}