.sort {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;

  @media (max-width: 768px) {}

  @media (max-width: 320px) {}
}

.sort__title {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-right: 19px;

  @media (max-width: 768px) {}

  @media (max-width: 320px) {}
}

.sort__type {
  cursor: pointer;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #585757;
  background: inherit;
  border: none;
  margin-right: 3.5%;

  @media (max-width: 768px) {}

  @media (max-width: 320px) {}

  &--active {
    color: #000000;
  }
}

.sort__buttons {
  margin-left: auto;

}

.sort__button {
  cursor: pointer;
  background: inherit;
  border: none;
  margin-right: 15px;
  z-index: 1;

  @media (max-width: 768px) {}

  @media (max-width: 320px) {}

  &:last-of-type {
    margin-right: 4px;

    @media (max-width: 768px) {}

    @media (max-width: 320px) {}
  }

  svg {
    color: #6C6C6C;
  }

  &--active {
    color: #000000;
  }

  &--to-small {

    svg {
      transform: rotate(180deg);
      z-index: -1;
    }
  }
}